{
    "plugins": ["lodash",
        [
            "transform-runtime", {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ],
        "transform-decorators-legacy", 
        "react-hot-loader/babel"
    ],
    "presets": [
        // webpack understands the native import syntax, and uses it for tree shaking
        [
            "es2015", { "modules": false }
        ],        
        // Transpile React components to JavaScript
        "react", 
        "stage-0"
    ],    
    "env": {
        "production": {
            "presets": ["react-optimize"]
        }
    }
}
