@import '~variables';

#app[data-viewport="mini"],
#app[data-viewport="tiny"] {
    #header {
        .profile {
            .info {
                opacity: 0;
                display: none;
            }
        }
    }
}

.vertical-menu {
    .header-central {
        .menu {
            display: none;
        }
    }
}

#header {
    line-height: 40px;
    height: 40px;
    background:
        linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25))
        var(--themeColor);

    /* linear-gradient(to bottom, $color-medium, $color-darkest); */
    padding: 0;
    color: $white;

    .header-left,
    .header-central,
    .header-right {
        display: inline-block;
    }

    .header-left {
        width: $navbar-width-expanded - 50;
        font-weight: 400;
        line-height: inherit;
        margin-left: 1.25em;
        font-size: 16px;
        text-align: center;

        .header-logo {
            text-align: center;
            display: inherit;
        }

        .header-title {
            margin-left: 0.5em;
        }
    }

    .header-central {
        margin-left: 3em;
    }

    .header-right {
        float: right;
        margin-right: 1em;

        img.image {
            margin-right: 1em;
        }

        .dropdown {
            display: inline-flex;
        }

        .profile {
            display: inline-block;
            margin-right: 1em;
            vertical-align: middle;

            .photo,
            .info {
                display: inline-block;
            }

            .photo {
                vertical-align: top;

                .avatar {
                    margin-right: 1em;
                }
            }

            .info {
                line-height: initial;
                vertical-align: inherit;
                opacity: 1;
                transition: opacity 0.5s ease;

                &>span {
                    display: block;
                }

                .greetings {
                    font-size: 75%;
                    line-height: 10px;
                }
            }
        }

        .logout {
            display: inline-block;
            vertical-align: bottom;
            width: $navbar-width-collapsed - 20;
            text-align: center;
        }
    }
}
