@import '~variables';

#app[data-viewport="mini"] #container,
#app[data-viewport="tiny"] #container {
    font-size: 100%;
}

#container {
    &.collapsed {
        ul.menu {
            li {
                a {
                    text-align: center !important;
                    font-weight: 400;
                    font-size: 10px;
                    padding: 10px 5px 5px;

                    i {
                        font-size: 25px !important;
                        text-align: center;
                        width: 100% !important;
                        margin-bottom: 5px;
                    }
                }

                i.expander {
                    display: none;
                }

                .submenu {
                    display: none;
                }
            }
        }
    }
}

.menu,
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    &.vertical {
        li {
            display: block;

            &:not(.expanded):hover {
                background-color: $color-lightest;
            }

            &.active {
                border-right: 3px solid $secondary-color;
                background-color: lighten($secondary-color, 45%);
            }

            a {
                padding: 12px 6px 12px 16px;
                position: relative;
                display: block;
                color: $color-dark;
            }
        }

        .parentLevel {
            .submenu {
                overflow: hidden;
                max-height: 0;
                transition: all 0.5s ease-out;

                li {
                    padding-left: 36px;

                    &:not(.active) {
                        background-color: $white;

                        &:hover {
                            background-color: $color-lightest;
                        }
                    }

                    &::before {
                        background: $color-dark;
                        bottom: auto;
                        content: "";
                        height: 8px;
                        left: 23px;
                        margin-top: 15px;
                        position: absolute;
                        right: auto;
                        width: 8px;
                        z-index: 1;
                        border-radius: 50%;
                    }

                    &::after {
                        border-left: 1px solid rgba($color-dark, 0.5);
                        bottom: 0;
                        content: "";
                        left: 27px;
                        position: absolute;
                        top: 0;
                    }
                }
            }

            &:hover,
            &.expanded {
                .submenu {
                    display: block;
                    max-height: 200px;
                }
            }
        }
    }

    &.horizontal {
        >li {
            display: inline-block;
            min-width: 10em;
        }

        .parentLevel {
            margin-right: 1em;

            .submenu {
                width: 100%;
                opacity: 0;
                position: absolute;
                z-index: 99;
                top: -100px;

                li {
                    &.placeholder {
                        height: 10px;
                        background: transparent;
                    }

                    &:not(.placeholder) {
                        background-color: $color-lightest;

                        &:hover,
                        &.active {
                            border-right: 3px solid $secondary-color;
                            background-color: lighten($secondary-color, 45%);
                        }
                    }
                }

                a {
                    padding: 10px 15px;
                    display: block;
                    color: $color-dark !important;
                }

                &::before {
                    margin-top: 10px;
                    content: ' ';
                }
            }

            &:hover,
            &.expanded {
                .submenu {
                    opacity: 1;
                    top: 19px;
                    display: block;
                    transition: opacity 0.5s ease;
                }
            }
        }
    }

    li {
        cursor: pointer;
        position: relative;

        a {
            i:first-child {
                font-size: 18px;
                margin-right: 0.5em;
            }

            i.expander {
                float: right;
                line-height: normal;
                font-size: 10px;
                transition-duration: 250ms;
                margin-top: 5px;
            }
        }
    }

    .parentLevel {
        &:hover,
        &.expanded {
            i.expander {
                transform: rotateZ(180deg);
            }

            .submenu {
                font-family: inherit;
                // display: block;
                // max-height: 200px;
            }
        }

        .submenu {
            a {
                font-size: 90%;
                padding: 9px;

                label {
                    &::before {
                        padding-left: 10px;
                        content: '';
                    }
                }
            }
        }
    }
}
